body{
  background-color: lightgray;
}
.mainbox{
    margin: auto;
    margin-top: 103px;
    display: flex;
    top: 108px;
    left: 183px;
    width: 1000px;
    height: 555px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightblue;
    font-size: 14rem;
}
.heading{
  margin: none;
  
  text-align: center;
  font-size: 2rem;
}
#todo-list{
  text-align: center;
  font-size: 1rem;

}
#todo-title,
#date-picker{
  text-align: center;
  width: 10rem;
}
.inputs{
  display: flex;
  align-items: center;
}
#todo-title{

}